In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
import numpy as np
import pandas as pd
import os
import modules.hack as Hack

from collections import Counter
from typing import List

# 1. Đọc dữ liệu

In [4]:
reviews = pd.read_csv("./data/reviews.csv")

In [6]:
Counter(reviews['label'])

Counter({1: 260555, 0: 13840, -1: 3764})

# 2. Xóa các mẫu chứa url

In [9]:
reviews['contain_url'] = reviews['raw_comment'].apply(lambda comment: 1 if Hack.containsURL(comment.lower()) else 0)

In [10]:
reviews

                                              raw_comment  label  contain_url
0       Hàng đẹp y ảnh. Nên mua nha mọi người. Shop gi...      1            0
1       Đóng gói sản phẩm rất đẹp và chắc chắn. Sản ph...      1            0
2       ♛Welcome to SeaWheat Life Store!♛\n⚡✨ Happy sh...      1            0
3       Khá xinh nha các bạn, chất lượng quá tuyệt vời...      1            0
4       Chất lượng quá oke ngoài sức mong đợi luôn ạ q...      1            0
...                                                   ...    ...          ...
278154  Giao hàng quá chậm. 10 ngày mới có hàng. Sản p...      1            0
278155  Thời gian giao hàng dài. Chất vải tạm ổn với g...      0            0
278156                               Cũng ổn nhìn hay hay      0            0
278157                  nhỏ xíu , ship 2 tuần , thất vọng      1            0
278158                                            Quá oke      1            0

[278159 rows x 3 columns]

In [11]:
reviews = reviews[reviews['contain_url'] == 0]

In [12]:
reviews

                                              raw_comment  label  contain_url
0       Hàng đẹp y ảnh. Nên mua nha mọi người. Shop gi...      1            0
1       Đóng gói sản phẩm rất đẹp và chắc chắn. Sản ph...      1            0
2       ♛Welcome to SeaWheat Life Store!♛\n⚡✨ Happy sh...      1            0
3       Khá xinh nha các bạn, chất lượng quá tuyệt vời...      1            0
4       Chất lượng quá oke ngoài sức mong đợi luôn ạ q...      1            0
...                                                   ...    ...          ...
278154  Giao hàng quá chậm. 10 ngày mới có hàng. Sản p...      1            0
278155  Thời gian giao hàng dài. Chất vải tạm ổn với g...      0            0
278156                               Cũng ổn nhìn hay hay      0            0
278157                  nhỏ xíu , ship 2 tuần , thất vọng      1            0
278158                                            Quá oke      1            0

[277589 rows x 3 columns]

In [13]:
reviews = reviews.drop(columns=['contain_url'])

# 3. Xóa các mẫu mà chữ IN HOA chiếm quá 50% độ dài của comment

In [15]:
reviews['contain_adv'] = reviews['raw_comment'].apply(lambda comment: 1 if Hack.containAdvertisement(comment) else 0)

In [16]:
reviews

                                              raw_comment  label  contain_adv
0       Hàng đẹp y ảnh. Nên mua nha mọi người. Shop gi...      1            0
1       Đóng gói sản phẩm rất đẹp và chắc chắn. Sản ph...      1            0
2       ♛Welcome to SeaWheat Life Store!♛\n⚡✨ Happy sh...      1            0
3       Khá xinh nha các bạn, chất lượng quá tuyệt vời...      1            0
4       Chất lượng quá oke ngoài sức mong đợi luôn ạ q...      1            0
...                                                   ...    ...          ...
278154  Giao hàng quá chậm. 10 ngày mới có hàng. Sản p...      1            0
278155  Thời gian giao hàng dài. Chất vải tạm ổn với g...      0            0
278156                               Cũng ổn nhìn hay hay      0            0
278157                  nhỏ xíu , ship 2 tuần , thất vọng      1            0
278158                                            Quá oke      1            0

[277589 rows x 3 columns]

In [17]:
reviews[reviews['contain_adv'] == 1]

                                              raw_comment  label  contain_adv
354     OKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOKOK...      1            1
1707                                                   Ok      1            1
1994                                                    N      1            1
2025                                                   Ok      1            1
2874                                                   Ok      1            1
...                                                   ...    ...          ...
278009                                                 Ok      1            1
278018                                                 Ok      1            1
278021                                                VIP      1            1
278122                                                 Ok      1            1
278149                                                 Ok      1            1

[3463 rows x 3 columns]

In [ ]:
ljljljljljhljhllljljljlljkljljljl