In [1]:
%load_ext autoreload
%autoreload 2

# 1. Ti·∫øn h√†nh ƒë·ªçc h·∫øt t·∫•t c·∫£ c√°c review c·ªßa c√°c s·∫£n ph·∫©m v√†o m·ªôt dataframe duy nh·∫•t

In [2]:
import pandas as pd
import modules.utils as Utils

In [3]:
men_reviews = Utils.getFiles("../00. Data Scraping/data/shopee_reviews/men/")
women_reviews = Utils.getFiles("../00. Data Scraping/data/shopee_reviews/women/")

In [4]:
len(men_reviews) + len(women_reviews)

2151

> **Nh·∫≠n x√©t**
> * C√≥ t·ªïng c·ªông 2151 s·∫£n ph·∫©m

In [5]:
men_reviews[:5]

['product_71.csv',
 'product_694.csv',
 'product_898.csv',
 'product_1075.csv',
 'product_702.csv']

In [6]:
df = pd.read_csv("../00. Data Scraping/data/shopee_reviews/men/" + men_reviews[0])

In [7]:
for path in men_reviews[1:]:
    tmp_df = pd.read_csv("../00. Data Scraping/data/shopee_reviews/men/" + path)
    df = pd.concat([df, tmp_df], axis=0).reset_index(drop=True)

In [8]:
for path in women_reviews:
    tmp_df = pd.read_csv("../00. Data Scraping/data/shopee_reviews/women/" + path)
    df = pd.concat([df, tmp_df], axis=0).reset_index(drop=True)

In [9]:
df.shape

(376706, 2)

In [11]:
df

                                                  comment rating
0       L·∫ßn ƒë·∫ßu mua t·∫°i shop nh∆∞ng r·∫•t ∆∞ng √Ω, v·∫£i m·∫∑c ...      5
1       Giao h√†ng nhanh, shop x·ªãn x√≤ ƒë·∫∑t h√†ng xong l√† ...      5
2       Size v·ª´a v·∫∑n lu√¥n, shop mall m√† h√†ng ch·∫•t l∆∞·ª£n...      5
3       S·∫£n ph·∫©m ch·∫•t l∆∞·ª£ng.ƒë√≥ng g√≥i kƒ©.shop nhi·ªát t√¨n...      5
4       Ch·∫•t l∆∞·ª£ng s·∫£n ph·∫©m tuy·ªát v·ªùi giao h√†ng nhanh ...      5
...                                                   ...    ...
376701  Giao h√†ng qu√° ch·∫≠m. 10 ng√†y m·ªõi c√≥ h√†ng. S·∫£n p...      5
376702  Th·ªùi gian giao h√†ng d√†i. Ch·∫•t v·∫£i t·∫°m ·ªïn v·ªõi g...      4
376703                               C≈©ng ·ªïn nh√¨n hay hay      4
376704                  nh·ªè x√≠u , ship 2 tu·∫ßn , th·∫•t v·ªçng      5
376705                                            Qu√° oke      5

[376706 rows x 2 columns]

> **Nh·∫≠n x√©t**:
> * C√≥ t·ªïng c·ªông 376,706 review

üö© Ghi ra file csv

In [13]:
df.to_csv("./data/data.csv")

<hr>

# 2. T√¨m hi·ªÉu d·ªØ li·ªáu

üö© ƒê√°nh nh√£n cho d·ªØ li·ªáu, n·∫øu rating c·ªßa kh√°ch h√†ng l√†:
* $\leq 2$: Ti√™u c·ª±c
* $\in [3, 4]$: B√¨nh th∆∞·ªùng
* $= 5$: T√≠ch c·ª±c

In [1]:
import pandas as pd

In [4]:
def rating(pScore):
    if pScore <= 2:
        return -1
    
    if pScore <= 4:
        return 0
    
    return 1

In [2]:
df = pd.read_csv("./data/data.csv")

In [5]:
df['label'] = df['rating'].apply(lambda score: rating(score))

In [6]:
df

,Unnamed: 0,comment,rating,label
0,0,"L·∫ßn ƒë·∫ßu mua t·∫°i shop nh∆∞ng r·∫•t ∆∞ng √Ω, v·∫£i m·∫∑c ...",5,1
1,1,"Giao h√†ng nhanh, shop x·ªãn x√≤ ƒë·∫∑t h√†ng xong l√† ...",5,1
2,2,"Size v·ª´a v·∫∑n lu√¥n, shop mall m√† h√†ng ch·∫•t l∆∞·ª£n...",5,1
3,3,S·∫£n ph·∫©m ch·∫•t l∆∞·ª£ng.ƒë√≥ng g√≥i kƒ©.shop nhi·ªát t√¨n...,5,1
4,4,Ch·∫•t l∆∞·ª£ng s·∫£n ph·∫©m tuy·ªát v·ªùi giao h√†ng nhanh ...,5,1
...,...,...,...,...
376701,376701,Giao h√†ng qu√° ch·∫≠m. 10 ng√†y m·ªõi c√≥ h√†ng. S·∫£n p...,5,1
376702,376702,Th·ªùi gian giao h√†ng d√†i. Ch·∫•t v·∫£i t·∫°m ·ªïn v·ªõi g...,4,0
376703,376703,C≈©ng ·ªïn nh√¨n hay hay,4,0
376704,376704,"nh·ªè x√≠u , ship 2 tu·∫ßn , th·∫•t v·ªçng",5,1
376705,376705,Qu√° oke,5,1

üö© ƒê·∫øm nh√≥m theo `label` v√† ƒë·∫øm xem c√≥ bao nhi√™u ph·∫ßn t·ª´ thu·ªôc nh√≥m ƒë√≥

In [9]:
df.groupby('label').agg('count')

       Unnamed: 0  comment  rating
label
-1           5525     5525    5525
 0          20822    20822   20822
 1         350359   350359  350359

In [10]:
# a['emoji'] = a['comment'].apply(lambda comment: extract_emoji(comment))